header{
    background-image: url('../resources/Banner\ Image.png');
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    background-repeat: no-repeat;
    font-family: Merriweather;
    margin-left: 280px;
    margin-top: 50px;
    
}
.banner{
    text-align: center;
    color: white;
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    height: 65vh;
}
.banner1{
    font-size: 32px;
    font-weight: 400;
    padding-top: 177px;
}
.banner2{
    width: 630px;
    font-size: 72px;
    font-weight: 600;
    line-height: 95px;
    padding-left: 300px;
    margin-top: -15px;

}